---
name: '{{ emr_cluster_name }}'
region: '{{ emr_region }}'
task_instance_num: 1
task_instance_type: m1.medium
task_instance_bid: 0.03
core_instance_num: 1
core_instance_type: m1.medium
master_instance_num: 1
master_instance_type: m1.medium
role: EMR_EC2_DefaultRole
keypair_name: '{{ emr_keypair_name }}'
vpc_subnet_id: '{{ emr_vpc_subnet_id }}'
log_uri: 's3://{{ emr_s3_logs_bucket }}'

steps:
  - type: script
    name: "Install MySQL connector for Sqoop"
    step_args: [ "s3://{{ emr_s3_config_bucket }}/install-sqoop-mysql-connector", "s3://{{ emr_s3_config_bucket }}" ]
    action_on_failure: TERMINATE_JOB_FLOW  # Set to CANCEL_AND_WAIT when debugging step failures.
